.md-header__button.md-logo {
    margin: 0;
    padding: 0;
}
.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 50px;
    width: 50px;
}

:root {
    --md-primary-fg-color: #800000;
    --md-primary-fg-color--light: #a04545;
    --md-primary-fg-color--dark: #600000;
  }


/* ONLY for Microsim pages */
.microsim-body {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center;     /* Center horizontally */
  min-height: 100vh;       /* Full screen height */
  background: #eef6ff;
}

/* MicroSim box */
#canvas-container {
  background: white;
  width: 90%;
  max-width: 800px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  text-align: center;
}

#canvas-container textarea {
  width: 90%;
  height: 300px;
  font-family: monospace;
  font-size: 18px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  transition: border-color 0.3s;
}

#canvas-container textarea:focus {
  outline: none;
}

#canvas-container button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #1f77b4;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#canvas-container button:hover {
  background-color: #155a8a;
}

#canvas-container #feedback {
  margin-top: 20px;
  padding: 10px;
  border-radius: 6px;
  background: #f9f9f9;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  text-align: left;
}

#canvas-container .correct {
  color: green;
}

#canvas-container .error {
  color: red;
}
