.md-header__button.md-logo {
    margin: 0;
    padding: 0;
}
.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 50px;
    width: 50px;
}

:root {
    --md-primary-fg-color: #800000;
    --md-primary-fg-color--light: #a04545;
    --md-primary-fg-color--dark: #600000;
  }