.md-header__button.md-logo {
    margin: 0;
    padding: 0;
}
.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 50px;
    width: 50px;
}

 #base-converter-container {
    position: relative;
    min-height: 260px;  /* Gives the canvas room */
    margin-bottom: 2em;
  }

  #base-converter-container canvas {
    position: relative !important; /* Prevent p5 from forcing absolute */
  }

  #base-converter-container label,
  #base-converter-container input,
  #base-converter-container select {
    display: block;
    margin-top: 8px;
  }

:root {
    --md-primary-fg-color: #800000;
    --md-primary-fg-color--light: #a04545;
    --md-primary-fg-color--dark: #600000;
  }
